table{
  white-space: nowrap;
}
th,
td {
  padding: 10px;
}
tr {
  border-bottom: 1px solid rgb(196, 216, 216);
}
tbody td {
  font-weight: 300;
}
tbody tr:hover{
background-color: rgba(240, 155, 85, 0.082);
}
th {
  color: rgb(36, 36, 83);
  /* color: rgb(231, 53, 53); */
}
.add--file--form label {
  color: #555;
}
.add--file--form input,
.add--file--form textarea {
  border: 2px solid rgb(196, 216, 216);
  color: #111111;
  font-weight: 400;
  width: 100%;
}
.add--file--form textarea {
  resize: none;
  padding: 1rem;
}
fieldset {
  border: 2px groove rgb(196, 216, 216);
  padding: 1.5rem;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
}
.page-num {
  border: 1px solid gray;
  padding: 6px 10px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background-color: #086581;
}
.page-num:hover {
  background-color: #086581b4;
}
.activePage {
  background-color: rgba(46, 162, 225, 0.736);
}